<select id="newChat">
    <option selected class="bg-blue-500 rounded-md hover:bg-red-500">Nuevo chat</option>
    <option value="">Nuevo grupo</option>
    <option value="">Nuevo Contacto</option>
</select>